<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Predicción Posibilidades de Ingreso UDG</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <h1>Predicción de Posibilidades de Ingreso a la UDG</h1>
    <form class="form-inline" method="POST" action="{{ url_for('select_value') }}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Selecciona la carrera de interés (CALENDARIO - CENTRO - CARRERA)</span>
                    <select name="seleccion_carrera" class="selectpicker form-control">
                        {% for carrera in carreras %}
                        <option value = "{{ carrera.CALENDARIO }},
                                         {{ carrera.PUNTAJE_MINIMO }},
                                         {{ carrera.CUPO }},
                                         {{ carrera.ADMITIDOS }},
                                         {{ carrera.ASPIRANTES }}"
                                         SELECTED>
                                         {{ carrera.CALENDARIO }} -
                                         {{ carrera.CENTRO }} -
                                         {{ carrera.CARRERA }}
                        </option>
                        {% endfor %}
                    </select>
            </div>
            <button type="submit" class="btn btn-default">Obtener predicción</button>
        </div>
    </form>
    {{ prediction_text }}
    <form method="POST" action="/">
        <button type="submit" class="btn btn-default">Obtener nueva predicción</button>
    </form>
  </body>
</html>