<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción Posibilidades de Ingreso UDG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <h1 style="font-size:3vw">Predicción de Posibilidades de Ingreso a la UDG</h1>
    <form class="form-inline" method="POST" action="{{ url_for('select_value') }}">
        <div class="form-group">
          <span class="input-group-addon" style="font-size:2vw">Selecciona la carrera de interés</span>
                <br>
                <p style="font-size:1vw"> CALENDARIO (A=1, B=2) - CENTRO - CARRERA</p>
            <div class="input-group">
                    <select name="seleccion_carrera" class="selectpicker form-control">
                        {% for carrera in carreras %}
                        <option value = "{{ carrera.CALENDARIO }},
                                         {{ carrera.PUNTAJE_MINIMO }},
                                         {{ carrera.CUPO }},
                                         {{ carrera.ADMITIDOS }},
                                         {{ carrera.ASPIRANTES }}"
                                         SELECTED>
                                         {{ carrera.CALENDARIO }} -
                                         {{ carrera.CENTRO }} -
                                         {{ carrera.CARRERA }}
                        </option>
                        {% endfor %}
                    </select>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Obtener predicción</button>
        </div>
    </form>
    <p>{{ prediction_text }}</p>
    <form method="POST" action="/">
        <button type="submit" class="btn btn-secondary">Obtener nueva predicción</button>
    </form>
  </body>
</html>