<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
 <div class="login">
	<h1>Predicción de Ingreso</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	 
    	<input type="number" name="CALENDARIO" placeholder="Calendario (A=1, B=2)" required="required" />
        <input type="float" name="PUNTAJE_MINIMO" placeholder="Puntaje mínimo sumando puntaje de preparatoria + examen" required="required" />
		<input type="float" name="CUPO" placeholder="Cupo disponible para la carrera en número de estudiantes" required="required" />
		<input type="float" name="ADMITIDOS" placeholder="Número de alumnos admitidos para la carrera en el último calendario" required="required" />
        <input type="float" name="ASPIRANTES" placeholder="Número de alumnos aspirantes a la carrera en el último calendario" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>
